/* Responsive Styles */
@media (max-width: 768px) {
  .content-main {
    margin-left: 0;
  }

  .menu-vertical {
    width: 100%;
    height: auto;
    width: -webkit-fill-available;
  }

  .menu-vertical .menu-toggle {
    display: block;
  }

  .menu-vertical ul {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .menu-vertical ul li {
    text-align: center;
    padding: 8px 0;
  }

  .menu-vertical ul.show {
    display: flex;
  }

  .menu-vertical ul li img {
    width: 160px;
  }

  .hero-wrap h1 {
    font-size: 2rem;
  }

  .card-section {
    .masonry {
      column-count: 1;
    }
  }

  .title::before {
    font-size: 2em;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-text,
  .details {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .about-text p {
    margin: 10px auto;
  }
}
